/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
======================================== */

/* 1. Global Styles
======================================== */
* {
    box-sizing: border-box;
  }
* {
  font-family: 'Barlow', Georgia, serif;
}

* {
  border: 1px solid red !important;
}*


h2, h4 {
  text-align: center;
  text-transform: uppercase;
}


.container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  font-weight: bold;
  

  }
#listnone {
  list-style: none;
}

