/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
======================================== */

/* 1. Global Styles
======================================== */
* {
    box-sizing: border-box;
  }
* {
  font-family: 'Barlow', Georgia, serif;
}

 * {
  border: 1px solid red !important;
}

html {
  background-color: whitesmoke;
  color: whitesmoke;
}

h2, h4 {
  text-align: center;
  text-transform: uppercase;
}

.container {
  display: flex;
  font-weight: bold;
  background: rgb(89,160,255);

ul {
  list-style: none;
}

.aboutme {
  justify-content: center;
}


/gap: 1rem;
justify-content: center;