* {
  box-sizing: border-box;
}
* {
font-family: 'Barlow', Georgia, serif;
}

* {
border: 1px solid blue !important;
}*

.container {
  display: flex;
  justify-content: center;
}

#top-container {
  background-color: aqua;
  flex-direction: column;
  margin: 10px 100px;
  
}

#about-container {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  margin: 10px 100px;
  flex-wrap: wrap;

}

.about-contents { 
  flex-direction: row;
}
h2, h4, h3 {
  text-align: center;
  flex-shrink: 0;
}

.center {
  text-align: center;
}

hr {
  border: 0;
  border-top: 2px dotted gray;
}

#left-align {
  text-align: end;
}

