* {
  /* border: 1px blue solid !important; */
}

body {
  font-family: "Roboto Mono", monospace; 
  background:  
    linear-gradient(to right, whitesmoke 25%, #4c4e52 20%);
    font-size: .89em;

}

.parent {
  display: flex;
}

.left-container {
  width: 100%;
  padding: 10px;
  font-size: .87em;
  
}

.right-container {
    color: #c7c3c3;
  margin-left: 20em;
  margin-top: 9em;
  margin-right: 20em;
}

.about-container {
  margin-top: 9em;
  margin-left: 4em;
}

h2 {
  font-size: 3em;
  /* text-align: center; */
}

img {
  display: block;
  margin-left: 0;
  margin-right: auto;
  width: 200px;
  
}

.div-list {
  display: flex;
}

.about-list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.fontshrink {
  font-size: .8em;
}

h3,
h4 {
  color: #5dc279;
}